@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.nav{
    display: flex;
    margin-top: 25px;
}
.nav img{
    margin-left: 170px;
}
.nav ul{
    display: flex;
    gap: 128px;
    align-items: center;
    margin-left: 128px;
}
.btn{
    border: 2px solid #DE2E54;
    width: 159px;
    height: 37px;
    border-radius: 8px;
    color: #DE2E54;
    padding-left: 20px;
    padding-top: 5px;
    margin-left: 200px;
}

.bg-img{
    background-image: url(image\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 533px;
    margin: 0 auto;
    margin-top: 25px;
}
.bg-img img{
    position: relative;
    top: 50px;
    left: 850px;
}
.bg-img h1{
    position: relative;
    bottom: 300px;
    left: 170px;
    color: white;
}
.id{
    margin-top: 40px;
    color: #fff;
    background-color: #DE2E54;
    width: 189px;
    height: 47px;
    position: relative;
    bottom: 300px;
    left: 170px;
    color: white;
    border-radius: 10px;
    padding-left: 25px;
    padding-top: 10px;
}
.box1{
    display: flex;
    margin-left: 300px;
}
.sec2{
    background-color: aqua;
    width: 1440px;
    margin: 0 auto;
    height: 353px;
}
.box1 h1{
    margin-left: 64px;
    width: 67px;
}
.text p{
    width: 600px;
    margin-left: 64px;
}
.text{
    margin-top: 50px;
}
.mission{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mix{
    display: flex;
    margin-left: 250px;
    gap: 60px;
}
.regestration{
    width: 400px;
    flex-wrap: wrap;
    height: 250px;
    background-color: #fff;
    align-content: center;
    
}
.regestration input{
    width: 340px;
    height: 30px;
    display: flex;
    margin: 0 auto; 
}
.sec2 h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sec2 button{
    width: 340px;
    height: 30px;
    background-color: greenyellow;
    border: none;
    margin-left: 30px;
}
.nav2{
    display: flex;
    gap: 700px;
}
.nav2 img{
    margin-left: 170px;
}
.nav2 ul{
    display: flex;
    gap: 90px;
    align-items: center;
}
.footer{
    background-color: black;
    color: #fff;
    width: 1440px;
    margin: 0 auto;
}

ul li{
    border: none;
    color: #222222;
    font-size: 16px;
    cursor: pointer;
    border-radius:  20px;
    transition: all 0.5s ease-in-out;
}

ul li:hover{
    border-radius: 0;
    font-size: 20px;
    color: #DE2E54;
}

ul li:active{
    background-color: rgb(222, 17, 17);
    transform: scale(25);
}